@font-face { font-family: Helvetica; src: url('font/Helvetica.ttf'); }


.haut{
    font-family: Helvetica;
    font-size: 80px;
    color: #333;
    margin-bottom: 10px;
}


.bas{
    font-family: Helvetica;
    font-size: 35px;
    color: #333;
    letter-spacing: 85px;
    margin-top: 10px;
    padding-left: 75px;
}

#background{
    background-color: #D31F43;
    color: white;
    padding: 12px 12px 12px 12px;
}

.bordure{
    margin-left: 50px;
    width: 39%;
    height: 3px!important;
}
